 
   .upload{
   border-radius: 10px;
}
 
   .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .container{
    display : flex;
    align-items: center;
    justify-content: space-between;
   
  }
  .Logo {
    border-radius: 10px;
    height: 60px;
    width:60px;
    margin-right:12px ;
   }


  .left{
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    margin-right: none;
    
  }
  
  .Right{
    display : flex;
    align-items: center;
    justify-content: space-between;
  
  }

  .Right>*{
    padding:10px;

  }

  .upload{
    height:50px
  }

